<body>
    <div class="part1" *ngIf="valid">

        <div class="main">
            <div class="container">
                

                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="heading">
                        <h3>Change Password</h3>
                    </div>
                    <label for="new_password">New password &nbsp;<span>*</span></label>
                    <div class="password-input-container">
                        <input type="{{ showPassword2 ? 'password' : 'text' }}" id="new_password" name="new_password"
                            [(ngModel)]="new_password" required>
                        <mat-icon class="toggle-password" (click)="showPassword2 = !showPassword2">{{ showPassword2 ?
                            'visibility_off' : 'visibility' }}</mat-icon>
                    </div>

                    <label for="repeat_password">Repeat new password &nbsp;<span>*</span></label>
                    <div class="password-input-container">
                        <input type="{{ showPassword3 ? 'password' : 'text' }}" id="repeat_password"
                            name="repeat_password" [(ngModel)]="repeat_password" required>
                        <mat-icon class="toggle-password" (click)="showPassword3 = !showPassword3">{{ showPassword3 ?
                            'visibility_off' : 'visibility' }}</mat-icon>
                    </div>

                    <button>Save</button>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="valid==false" class="part2">
        <h1>Link Expired</h1>
        <p>The link you followed has expired.</p>
    </div>
</body>