
.main {
    font-family: "Hind", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.part1 {
    background-color: #0856A2;
}
span {
    color:rgb(239, 6, 45);
}
/* .profile h2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 1.5em;
    font-family: "Overpass", sans-serif;
} */

h3 {
    font-family: "Hind",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em;
}

form {
    display: flex;
    width: 25em;
    flex-direction: column;
    padding: 3em 2em;
    box-sizing: border-box;
    border: 1px solig gray;
    background-color: white;
    border-radius: 5px;
}

form input[type="password"], input[type="text"] {
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid rgb(189, 187, 187);
    outline: none;
    padding-left: 1em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
}

.toggle-password {
    margin-left:-30px;
    margin-bottom:-6px;
    z-index:10;
}
hr {
    border: 1px solid rgba(189, 187, 187, 0.313);
    width:50%;  
    margin: 0;
}

button {
    width: 79px;
    height: 32px;
    padding: 5px 0;
    color: white;
    margin-top: 1em;
    border-radius: 5px;
    background-color: #0856A2;
    border: none;
    cursor: pointer;
}

.values {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
/* 
.indicators input[type="text"] {
    width: fit-content;
    padding: 0 0 0 0.5em;
    margin: 0;
    margin-left: 15px;

} */

/* .status p {
    background-color: #78FFA0;
    padding: 0.1em 1.5em;
    border-radius: 15px;
    font-size: 11px;
    margin: 0;
} */

#percent {
    width: 48px;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part2 h1 {
    color: #d21e0a; /* Tomato */
}
.part2 p {
    font-size: 18px;
}
