<div class="container">
    <p-toast position="top-center"></p-toast>
    <form #form="ngForm">
        <h2>Notifications</h2>
        <div class="form-grp" *ngFor="let chat of notification_list_array; let i=index">
            <p class="notification_line" (click)="onMessageClick(i)">
                <span class="text_message"><strong>{{chat.Subject}}</strong> {{chat.Message}}</span>
                
                <span class="isSeen" *ngIf="chat.isSeen==0">
                    <div></div>
                </span>
                <span class="isNotSeen" *ngIf="chat.isSeen==1">
                    <div></div>
                </span>
            </p>
        </div>
    </form>
</div>


