<body>
    <div class="container">
        <div class="logo">
            <img src="assets/Logo.svg" alt="company logo">
        </div>
        <div class="main">
            <h1>Forgot your password</h1>
            <p>Please enter the email address you'd like your password reset information sent to </p>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <label for="email">Enter email address</label>
                <input type="email" name="email" id="email" placeholder="ex: abc@gmail.com" [(ngModel)]="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"  >
                <button type="submit">Request reset link</button>
            </form>
            <p class="link"><a href="/login" routerLink="/login">Back To Login</a></p>
        </div>
    </div>
</body>