<body>
    <p-toast position="top-center"></p-toast>
    <div class="main">
        

    
    <div class="container">
        
        <form (ngSubmit)="onSubmit()">
            <h3>Login</h3>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="Email address" [(ngModel)]='emailAddress' required >
             <input type="password" id="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" [(ngModel)]="password" placeholder="password"    required>
            
            <!-- <select id="role" name="role" [(ngModel)]="role">
                <option value="" selected disabled >Role</option>
                <option value="admin">Admin</option>
                <option value="publisher">Publisher</option>
            </select> -->
            <div class="btn">
                <button  >Login</button>
            </div>
            <div class="links">
                <p><a href="/sign-up" routerLink="/sign-up"  >Sign up</a></p>
                <p><a href="/forgot-password" routerLinkActive="/forgot-password">Forgot Password ?</a></p>
            </div>
        </form>
        <div class="Image">
            <img src="assets/Logo.svg" alt="Logo image">
        </div>
        
    </div>
    
</div>
</body>