body {
    width: 100%;
    color: black;
    height: auto;
}
.Logo-top {
    width: 100%;
    height: fit-content;
    background: linear-gradient(to right, #0A4D9A, #2964AC, #3C72B7, #4378BC);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
}

/* .logo img {
    width: 150px;
    height: 50px;
} */

.logo img {
    width: 10em;
    height: 3em;
}


.vertical-line {
    border-left: 2px solid white;
    height: 68.14px;
}

.Logo-top .icons, .left, .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2em;
}
.profile  img{
    width: 26.59px;
    height: 26.58px;
}
.profile {
    margin-right: 1em;
    color: white;
    position: relative;
    cursor: pointer;
    width: 10em;
}
.dropdown {
    position: absolute;
    top:90%;
    left:-10%;
    width: fit-content;
    display: flex;
    z-index: 10;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    /* border: 1px solid black; */
    border: 1px solid gray;
}
.dropdown button {
    padding: 0.5em 1em;
    background-color: white;
    opacity: 1;
    /* border-top: 0.5px solid rgba(161, 158, 158, 0.639); */
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: start;
}
.dropdown button:hover {
    background-color: rgb(172, 168, 168) ;
}
.dropdown a {
    display: flex;
}

.dropdown img {
    width: 1.2em;
    height: auto;
    margin-right: 5px;
}