<body>
    <div class="Logo-top" *ngIf="current_link !== '/sign-up' && current_link !== '/login'">
        <div class="logo">
            <img src="assets/Logo.svg" alt="Logo">
        </div>

        <div class="icons">
            <div class="left">
                <img src="assets/chat-icon.svg" alt="chat-icon">
                <img class="mail-icon" *ngIf="typeOfUser=='Publisher'" src="assets/Mail-icon.svg" alt="Mail-icon" (click)="publisher_mail_clicked()" >
                <img  class="mail-icon" *ngIf="typeOfUser=='Admin'" src="assets/Mail-icon.svg" alt="Mail-icon" (click)="admin_mail_clicked()" >
            </div>
            <div class="vertical-line"></div>
            <div class="profile" (click)="profileClicked()">
                <img src="assets/Profile-icon.svg" alt="Profile Photo" class="profile-logo">
                <p>{{userName}}</p>
                <div *ngIf="clicked" class="dropdown">
                    <button (click)="profile()"><a><img src="assets/user.svg" alt="profile image">Profile</a></button>
                    <button (click)="change_password()"><a><img src="assets/padlock.svg" alt="profile image">Change
                            Password</a></button>
                    <button (click)="user_management()" *ngIf="typeOfUser=='Admin'"><a><img src="assets/user-management.svg" alt="user-management">User Management</a></button>
                    <button (click)="addressComponent()" *ngIf="typeOfUser=='Publisher' || typeOfUser=='Distributor'"><a><img
                                src="assets/location.svg" alt="address icon">Address</a></button>
                    <button (click)="contactsComponent()" *ngIf="typeOfUser=='Publisher' || typeOfUser=='Distributor'"><a><img
                                src="assets/contact-book.svg" alt="address icon">Contacts</a></button>
                    <button (click)="logOut()"><a><img src="assets/exit.svg" style="margin-left
                    :3px; " alt="profile image">Logout</a></button>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="notification_clicked" >
        <app-notification-dashboard-admin (closeNotification)="onNotificationClose()"></app-notification-dashboard-admin>
    </div>

    <div *ngIf="publisher_notification_clicked" >
        <app-publisher-notification (closeNotification)="onNotificationClose()"></app-publisher-notification>
    </div>
</body>