<body>
    <div class="profile">
        <h2>Profile</h2>
    </div>
    <div class="main">    
    <div class="container">
        <div class="indicators">
            <div class="status">
                <p [ngClass]="{'green': status=='Active', 'red': status=='Disabled'}" >{{status}}</p>
            </div>
            <div class="values">
                <section>
                    <label for="publisher">Publisher ID</label>
                    <input type="text" readonly id="publisher" name="publisher" value="659629596269HVVH" >
                </section>
                <section>
                    <label>Email</label>
                    <input type="text" readonly id="email" name="email" value={{email}}>
                </section>
                <section>
                    <label for="percent" >Percent</label>
                    <input type="text" readonly id="percent" name="percent" value="15%">
                </section>
                
            </div>
        </div>
        <div class="heading">
            <h3>Change Password</h3>
        </div>
        
        <form #form="ngForm"  (ngSubmit)="onSubmit(form)" >
            <label for="curr_password">Current password &nbsp;<span>*</span></label>
            <div class="password-input-container">
                <input type="{{ showPassword1 ? 'password' : 'text' }}" id="curr__password" name="curr__password"
                    [(ngModel)]="current_password" required>
                <mat-icon class="toggle-password" (click)="showPassword1 = !showPassword1">{{ showPassword1 ?
                    'visibility_off' : 'visibility' }}</mat-icon>
            </div>
            <label for="new_password">New password &nbsp;<span>*</span></label>
            <div class="password-input-container">
                <input type="{{ showPassword2 ? 'password' : 'text' }}" id="new_password" name="new_password"
                    [(ngModel)]="new_password" required>
                <mat-icon class="toggle-password" (click)="showPassword2 = !showPassword2">{{ showPassword2 ?
                    'visibility_off' : 'visibility' }}</mat-icon>
            </div>

            <label for="repeat_password">Repeat new password &nbsp;<span>*</span></label>
            <div class="password-input-container">
                <input type="{{ showPassword3 ? 'password' : 'text' }}" id="repeat_password" name="repeat_password"
                    [(ngModel)]="repeat_password" required>
                <mat-icon class="toggle-password" (click)="showPassword3 = !showPassword3">{{ showPassword3 ?
                    'visibility_off' : 'visibility' }}</mat-icon>
            </div>

            <button >Save</button>
        </form>
    </div>
</div>
</body>