body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black color with 50% opacity */
    z-index: 999;
    /* Ensure it's behind the dialog */
    display: none;

}

.background-overlay.show {
    display: block;
    /* Show the overlay when the dialog is open */
}


.heading h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5em;
    font-family: "Overpass Regular", sans-serif;
}
.modal {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-5%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 422px;
  /* height: auto; */
  margin: auto;
}


form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

label {
    font-size: 12px;
    font-family:"Overpass Light", sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 293px;
    height: 32px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .send{
    background-color: #0856A2;
    color: white;
    width: 78px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .cancel {
    width: 78px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #E5E5E5;
  }
  
  .btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  span {
    color: red;
  }
  .tooltip {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
  }

  .tooltip p {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-left: 5px;
    color: #0856A2;
    font-size: 12px;
    border: 1px solid #0856A2;
    border-radius: 100%;
    padding: 0 0.2em;
  }

  .warning-text {
    font-size: 0.7em;
    padding-left: 0.5em;
    color: rgb(247, 61, 24);
    font-weight: 500;
  }
  
  .warning-div {
    width: 100%;
    padding: 0.5em;
  }
  