<body>
    <div class="container">

        <div class="row1">
            <div class="delegation">
                <p>Delegation Type: </p>
                <p class="value">  {{delegation_type}} </p>
            </div>
            <button>End Agreement</button>
        </div>

        <div class="grid">
            <div class="column1">
                <div class="row">
                    <p>Child Publisher Name:</p>
                    <p>Child Publisher Email:</p>

                </div>
                <div class="row value">
                    <p>{{publisherName}}</p>
                    <p>{{publisherEmail}}</p>
                </div>
            </div>
            <div class="column2">
                <div class="row">
                    <p>Network Code:</p>
                    <p>Child Seller ID:</p>

                </div>
                <div class="row value">
                    <p>{{networkCode}}</p>
                    <p>{{sellerId}}</p>
                </div>

            </div>
            <div class="column3">
                <div class="row">
                    <p>Status:</p>
                    <p>Approved On:</p>

                </div>
                <div class="row value">
                    <p>{{status}}</p>
                    <p>{{approvedOn}}</p>
                </div>

            </div>
        </div>
    </div>
</body>