<body>
    <p-toast position="top-center"></p-toast>
    <!-- Header Section -->
    <div class="header">
        <div class="left-section">
            <div class="back-button">
                <a href="#" class="arrow">&#8249;</a>
            </div>
            <h1>Payments</h1>
        </div>
        <h2></h2>
    </div>

    <div class="table">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Site ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container> -->

            <!-- Name Column -->
            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let element"> {{element.month}} </td>
            </ng-container>

            <ng-container matColumnDef="publisher_id">
                <th mat-header-cell *matHeaderCellDef> Publisher Id </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher_id}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="publisher_id">
                <th mat-header-cell *matHeaderCellDef> Account ID </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher_id}} </td>
            </ng-container> -->

            <ng-container matColumnDef="publisher_name">
                <th mat-header-cell *matHeaderCellDef> Publisher Name </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher_name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="publisher_networkcode">
                <th mat-header-cell *matHeaderCellDef> Publisher Networkcode </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher_networkcode}} </td>
            </ng-container>

            <ng-container matColumnDef="total_payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Payment </th>
                <td mat-cell *matCellDef="let element"> {{element.total_payment | currency: 'USD' : 'symbol' : '1.1-2'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="parent_payment">
                <th mat-header-cell *matHeaderCellDef> Parent Payment </th>
                <td mat-cell *matCellDef="let element"> {{element.parent_payment | currency: 'USD' : 'symbol' :
                    '1.1-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="child_payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Child Payment </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>
                        {{element.child_payment | currency: 'USD' : 'symbol' : '1.1-2'}}
                    </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="deduction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Deduction </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.deduction | currency: 'USD' : 'symbol' : '1.1-2'}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="ad_serving_cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ad Serving Cost </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.ad_serving_cost | currency: 'USD' : 'symbol' : '1.1-2'}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="delegation_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Delegation Type </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.delegation_type}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="invoice_generation_data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Generation Date </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.invoice_generation_data}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="invoice_upload_data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Upload Date </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.invoice_upload_data}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="payment_data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.payment_data}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Download Invoice </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <p>{{element.download}}</p>
                    <button id="download" (click)="downloadPDF(element)">
                            <img src="assets\download-icon.svg" alt="Download Invoice" width="20" height="20">
                        </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="upload">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Invoice </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <div class="file-actions">
                        <button id="upload" [disabled]="element.filePath !='NA' "
                            [ngClass]="{'disable':element.filePath !='NA'}" (click)="uploadButtonClicked(element)">

                            <img src="assets/upload(1).png" alt="" width="20px" height="20px">
                        </button>



                        <a *ngIf="element.filePath !== 'NA' && element.filePath" class="anchor file-link"
                            [href]="getDownloadLink(element.filePath)" download
                            style="display: inline-block; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{ element.fileName }}
                        </a>


                        <!-- Delete button - Displayed only if file is uploaded -->
                        <button *ngIf="element.filePath !== 'NA' && element.filePath" class="delete-btn"
                            [disabled]="element.payment_made" [ngClass]="{'disable': element.payment_made}"
                            (click)="deleteInvoice(element)" aria-label="Delete file">
                            <img src="assets/bin.png" alt="Delete" style="height: 15px; width: 15px;">
                        </button>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payment_made">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Made </th>
                <td mat-cell *matCellDef="let element">
                    <input type="checkbox" [(ngModel)]="element.payment_made" (change)="updatePaymentStatus(element)">
                    {{ element.payment_made ? 'Yes': 'No' }}
                </td>
            </ng-container>



            <!-- <ng-container matColumnDef="parentAdUnitId">
                <th mat-header-cell *matHeaderCellDef> ParentAdUnitID </th>
                <td mat-cell *matCellDef="let element"> {{element.parentAdUnitId}} </td>
            </ng-container> -->

            <!-- Action Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>