body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  
}

.back-button {
  margin-top: 6px;
  margin-left: 10px;
  width: 5%;
}
.heading h1 {
  margin: 15px;
  text-align: start;
  display: inline;
  margin-top: 0.1em;
}
.heading h2 {
  font-weight: 200;
  color: #0856A2;
  display: inline;
  font-size: 1.2em;
  margin: 0;
  margin-top: 0.4em;
}

h1 {
  color: #0856A2; 
  font-size: 0.9em;
  margin: 10;
  margin-left: 0%;
  font-weight: 200;
  font-family: 'Overpass-Regular', sans-serif; 
}

a {
  text-decoration: none; /* Remove underline from links */
  color: blue; /* Blue color for links */
}



/* CSS */
.back-button {
  width: 32px; /* Fixed width */
  height: 32px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Background color of the box */
  border: 1px solid #cccccc; /* Border color */
  border-radius: 1px; /* Rounded corners */
}

.arrow {
  text-decoration: none;
  color: #000000; /* Arrow color */
  font-size: 35px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.left-section {
  display: flex;
  align-items: center; /* Aligns items vertically center */
}

.back-button {
  margin-right: 10px; /* Adds space between the back button and the title */
}

.back-button a {
  text-decoration: none;
  color: #000000; /* Arrow color */
  font-size: 35px;
}
/* table {
  width: 100%;
  height: auto;
}

thead {
  border: 1px solid #E7EBFF;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  
}
 */
/* th {
  background-color: #FFFFFF;
  font-size: 12px;
}

td,
th {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

td {
  border: none;
  
}
.table {
  border: 1px solid #E5E5E5;
  overflow-x: auto;
} */

input[type="text"], button {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* input[type="file"]
{
  display: none;
} */

button {
  border: none;
  width: 26px;
  height: 26px;
  padding: 0;
  transition: transform 0.1s ease;
  border-radius: 5px;
  background-color: #0855a294;
  color: white;
  cursor: pointer;
  
}

button:hover {
  z-index: 100;
  transform:  scale(1.3);
  background-color: #0855a294;
}
button img{
  width: 15px;
  height: auto;
  border: none;
}

#download  {
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #0855a294;
  transition: transform 0.1s ease;
  border-radius: 5px;
}

#download:hover  {
  z-index: 100;
  transform:  scale(1.3);
}


#download img  {
  width: 15px;
  height: auto;
  border: none;
}
table {
  width: 100%;
  height: auto;
}


thead {
  border: 1px solid #E7EBFF;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  
}

th {
  background-color: #FFFFFF;

}

/* td,
th {
  width: auto;
} */

td {
  border: none;
  white-space: nowrap;
}

.heading button {
  padding: 0.7em;
  width: 10em;
  height: 3em;
  background-color: #0856A2;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.table {
  border: 1px solid #E5E5E5;
  table-layout: auto; /* Allow the table to adjust column width automatically */
  overflow-x: auto; 
}

.disabled-button {
  cursor: default;
  background-color: gray;
  color: black;
}

.disabled-button:hover {
  background-color: gray;
}
.anchor {
  width: 11em !important;
  display:inline-block;
  margin-right: 15px;
}
.file-actions {
  margin-top: auto;
  margin-top: 15px;   
  display: flex;
  align-items: center; /* Align items vertically in the center */
  height: 100%; /* Ensure buttons are aligned at the same height */
}

.file-actions button {
  margin-right: 10px; /* Add margin between the buttons */
  vertical-align: middle; /* Align buttons vertically in the middle */
}


.anchor, .delete-btn {
  /* Additional styles for links and buttons, if necessary */
  text-decoration: none; /* Removes underline from anchor tag */
  color: inherit; /* Inherits color from parent for consistency */
  border: none;
  background: none;
  cursor: pointer;
}

.delete-btn img {
  vertical-align: middle; /* Aligns the image vertically in the middle of the line */
}

.file-link {
  display: inline-block; 
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  color: #0056b3; /* Bootstrap default blue */
  text-decoration: none; /* Optional: removes underline */
  font-weight: normal; /* Optional: makes the text bold */
  vertical-align: middle;
  clear: both;  
}


.file-link:hover {
  
  color:#007BFF;  /* A darker blue on hover */
}
.delete-btn {
  background-color: #0855a294; 
  margin-top: auto;
  border: none; 
  padding: 5px; 
  border-radius: 5px;
  cursor: pointer; 
}

.delete-btn:hover {
  transform:  scale(1.3);
 
}
 /* .custom-file-upload {
  border: none;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: #0855a294;
  transition: transform 0.1s ease;
  border-radius: 5px;
}


.custom-file-upload {
  cursor: pointer;
  background-color:transparent; 
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
}

.custom-file-upload:hover {
  z-index: 100;
  transform:  scale(1.3);
}

.custom-file-upload img {
  width: 10px;
  height: auto;
  border: none; 
}  */
/* .custom-file-upload {
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #0855a294;
  transition: transform 0.1s ease;
  border-radius: 5px;
}
.custom-file-upload {
  cursor: pointer;
  background-color: #0855a294; 
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
}

.custom-file-upload:hover {
  transform:  scale(1.3);
  
}

.custom-file-upload img {
  width: 20px;
  height: auto;
  border: none;    
} */

.upload-button {
  display: block; /* Make sure the button is displayed by default */
}

.upload-button.hidden {
  display: none; /* Hide the button when the 'hidden' class is applied */
}

.disable{
  background-color: gray;
  cursor: default;
}
.disable:hover{
  background-color: gray;
  cursor: default;
}