<body>
    <!-- <div class="Logo-top" *ngIf="current_link !== '/sign-up' && current_link !== '/login'" >
        <div class="logo">
            <img src="assets/Logo.svg" alt="Logo">
        </div>

        <div class="icons">
            <div class="left">
                <img src="assets/chat-icon.svg" alt="chat-icon">
                <img src="assets/Mail-icon.svg" alt="Mail-icon">
            </div>
            <div class="vertical-line"></div>
            <div class="profile">
                <img src="assets/Profile-icon.svg" (click)="logOut()" alt="Profile Photo">
                <p>John Doe</p>

            </div>

        </div>
    </div> -->

    <app-home></app-home>

</body>


<!--
<app-sign-up></app-sign-up>
<app-send-invite></app-send-invite>
<app-security></app-security>
<app-account-details></app-account-details>
<app-profile-info></app-profile-info>
<app-users></app-users>
<app-add-site></app-add-site>
<app-add-site-ad-units></app-add-site-ad-units>
<app-add-app-ad-units></app-add-app-ad-units>
<app-account-detail-admin></app-account-detail-admin>
<app-add-site-1></app-add-site-1>
<app-accounts></app-accounts>

-->