.container {
    width: 100%;
    height: 100%;
    font-family: "Hind", sans-serif;
    padding: 1em 3em 1em 2em;
    box-sizing: border-box;
}

.container select {
    outline: none !important;
}

.find {
    position: relative;
}
  
.search img {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 12.95px;
    height: 12.95px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 22px;
  
}

.search input{
  width: 18em;
  height: 32px;
  padding: 0.5em;
  padding-left: 2em;
  box-sizing: border-box;
  border: 1px solid #E7EBFF;
  border-radius: 5px;
  outline: none;
}


.date-icon select {
    width: 15em;
    padding: 0.5em 2.2em;
    text-align: center;
    border-color: #E5E5E5;
    border-radius: 5px;
    margin-right: 0.5em;
    color: #707070;
    font-size: 12px;
    text-align: start;    
}

section {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.date-icon {
    position: relative;
    display: inline;
    text-align: end;
}
.date-icon img {
    position: absolute;
    top: 15%;
    left: 5%;
}
#dw1 , #dw2 , #dw3, #top_publishers_dw, #top_sites_dw, #top_apps_dw, #top_adUnits_dw {
    border: none;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: #0855a294;
    transition: transform 0.1s ease;
    border-radius: 5px;
}


#dw1:hover , #dw2:hover , #dw3:hover, #top_publishers_dw:hover, #top_sites_dw:hover, #top_apps_dw:hover, #top_adUnits_dw:hover {
    z-index: 100;
    transform:  scale(1.3);
}


#dw1 img, #dw2 img, #dw3 img, #top_publishers_dw img, #top_sites_dw img, #top_apps_dw img, #top_adUnits_dw img {
    width: 15px;
    height: auto;
    border: none;
}

.top-table-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    background-color: #FFFFFF;
}

tr {
    border: 1px solid #E7EBFF;
}
td,
th {
    white-space: nowrap; /*Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
}
td {
    border: none;
    background-color: #FCFCFC;
}
.table {
    border: 1px solid #E5E5E5;
}
.publisher-heading,
.site-heading,
.app-heading,
.adunit-heading {
    color: #0855a2dd;
    font-size: 20px;
    margin: 0 0 0.5em 0;
    font-family: "Hind", sans-serif;
    font-weight: 400;
}
.top_10_publishers,
.top_10_sites,
.top_10_apps,
.top_10_adunits {
    margin-top: 1.5em;
    /* overflow-x: scroll; */
}

.table {
    width: 100%;
    overflow-x: auto;
}
