<body>
    <p-toast position="top-center"></p-toast>
    <div class="container">
        <div class="top-selection">
            <div class="search">
                <div class="find">
                    <input type="text" matInput (keyup)="applyFilter($event)" #search placeholder="Search by keywords">
                    <img src="https://cdn-icons-png.flaticon.com/128/54/54481.png" width="10px" height="10px">
                </div>

                <div class="select">
                    <select (change)="applyFilterBySymbol(sort.value)" #sort>
                        <option selected disabled value="">OS</option>
                        <option *ngFor="let option of os_options" [value]="option.value"  >{{option.label}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="clear">
                <button (click)="clearSearch()">Clear search</button>
            </div> -->
            <div class="btn" *ngIf="typeOfUser !='Publisher' && typeOfUser != ''">
                <button (click)="openAddSite()">Add App</button>
            </div>

        </div>
        <div class="table">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> APP ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->

                <!-- Weight Column -->
                <ng-container matColumnDef="app_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> App Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.app_name}} </td>
                </ng-container>

                <ng-container matColumnDef="app_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GAM App ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.app_id}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="publisher_id">
                    <th mat-header-cell *matHeaderCellDef> Account ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.publisher_id}} </td>
                </ng-container> -->

                <ng-container matColumnDef="account_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.account_name}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="os">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OS </th>
                    <td mat-cell *matCellDef="let element">
                        <img *ngIf="element.os.includes('Android')" src="assets/android.svg" alt="android Logo" class="img-icons">
                        <img *ngIf="element.os.includes('iOS')" src="assets/ios.svg" alt="ios Logo" class="img-icons">
                        <!-- Add more conditions for different OS logos -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="ad_units">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ad Units </th>
                    <td mat-cell *matCellDef="let element"> {{element.ad_units}} </td>
                </ng-container>

                <ng-container matColumnDef="categories">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categories </th>
                    <td mat-cell *matCellDef="let element"> {{element.categories}} </td>
                </ng-container>



                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <p  [ngStyle]="getStatusBackgroundColor(element.status)">
                            {{element.status}}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mcm_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GAM Status </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <p [ngStyle]="getMcmStatusBackgroundColor(element.mcm_status)">
                            {{element.mcm_status}}
                        </p>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="parentAdUnitId">
                    <th mat-header-cell *matHeaderCellDef>ParentAdUnitID</th>
                    <td mat-cell *matCellDef="let element"> {{element.parentAdUnitId}} </td>
                </ng-container> -->

                <!-- Action Column -->
                <ng-container matColumnDef="action" class="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <div >
                            <button  (click)="performAction(element)" class="image-button"><img src="assets/action-button.svg" class="action-image"  alt="action button"></button>
                        </div>
                        
                        <div class="button-group" *ngIf="element.showOptions">
                            <button (click)="stopAds(element)">Stop Ads</button>
                            <button (click)="generateReport(element)"  >Generate Report</button>
                            <button (click)="downloadAds(element)">Download Ads.txt</button>
                            
                        </div>
                    </td>
                </ng-container>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                  </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
        <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>

    <div *ngIf="add_app">
        <app-add-app [isOpen]="add_app" [selectedName]="selectedName"  (dialogClosed)="onDialogClosed()"></app-add-app>
    </div>

</body>