/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* button {
    cursor: pointer;
}


.ng-select .ng-select-container {
    max-height:  75px Im !important;
}
.mat-mdc-select {
    font-size: small;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }

.mat-mdc-text-field-wrapper {
    height: 3.5em !important;
    border: 1px solid #E5E5E5 !important;
    border-radius: 5px ;
}

div.mat-mdc-select-panel {
    padding: 0;
}

.mdc-line-ripple.ng-tns-c3736059725-9.ng-star-inserted {
    display: none;
}
.mat-mdc-option {
    min-height: 2.5em;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: white !important;
    border-radius: 5px;
}

.mdc-line-ripple ng-tns-c3736059725-12 ng-star-inserted mdc-line-ripple--active mdc-line-ripple--deactivating {
    display: none;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    display: none;
}

mat-form-fieldmat-label.ng-tns-c3736059725-11 {
    font-size: small !important;
}

mat-form-field mat-label {
    font-size: small !important;
}
.mat-mdc-form-field-infix {
    top: -5px;
}