<body>
    <div *ngIf="storage; else login">
        <app-nav *ngIf="current_link !== '/sign-up' && current_link !== '/login' && current_link !=='/forgot-password' && !current_link.startsWith('/reset-password')"></app-nav>
        <div class="divider" *ngIf="current_link !== '/sign-up' && current_link !== '/login' && current_link !=='/forgot-password' && !current_link.startsWith('/reset-password') ; else signUp">
            <div class="menu">
                <app-menu></app-menu>
            </div>

            <div class="content" >

                <div>
                    <router-outlet></router-outlet>
                </div>

            </div>
        </div>

        <ng-template #signUp>
            <router-outlet></router-outlet>
        </ng-template>

        
    </div>
    <ng-template #login>
        <router-outlet ></router-outlet>
    </ng-template>
</body>